{{! TODO: These cards' style need to be improved, now it's just a basic card }}
<section class='card'>
  <h1>Choose Your Interests</h1>
  <p class='muted'>These preferences will be used for recommendations on your
    home page.</p>

  <form class='form'>
    <div class='chips-grid'>
      <label class='chip-option'><input type='checkbox' /> Basketball</label>
      <label class='chip-option'><input type='checkbox' /> Soccer</label>
      <label class='chip-option'><input type='checkbox' /> Running</label>
      <label class='chip-option'><input type='checkbox' /> Hiking</label>
      <label class='chip-option'><input type='checkbox' /> Gym</label>
      <label class='chip-option'><input type='checkbox' /> Tennis</label>
      <label class='chip-option'><input type='checkbox' /> Swimming</label>
      <label class='chip-option'><input type='checkbox' /> Volleyball</label>
    </div>

    <button type='submit' class='btn'>Save Interests</button>
  </form>
</section>