<section class='auth-wrapper'>
  <div class='card auth-card large'>
    <h1>Create Account</h1>
    <p class='muted'>Join the sports community and meet people with similar
      interests.</p>

    <form class='form' method="POST" action="/profile/register">
      <div class='grid-2'>
        <label>First Name
          <input type='text' name="firstName" placeholder='First name' required />
        </label>

        <label>Last Name
          <input type='text' name="lastName" placeholder='Last name' required />
        </label>
      </div>

      <div class='grid-2'>
        {{! * Now it's browser's own validation }}
        <label>Email
          <input type='email' name="email" placeholder='Email address' required />
        </label>
        {{! TODO: Password JS }}
        <label>Password
          <input type='password' name="password" placeholder='Create password' required />
        </label>
      </div>

      <div class='grid-3'>
        {{! ! This age need to be validated }}
        <label>Age
          <input type='number' name="age" placeholder='18' />
        </label>

        <label>Gender
          <select name="gender">
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
            {{!-- <option>Prefer not to say</option> --}}
          </select>
        </label>

        <label>Skill Level
          <select name="skill">
            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Advanced</option>
          </select>
        </label>
      </div>

      <div class='grid-2'>
        <label>City
          <input type='text' name="city" placeholder='New York' />
        </label>

        <label>State
          <input type='text' name="state" placeholder='NY' />
        </label>
      </div>
      {{! TODO: JS validation, auto jump to next step }}
      <button type='submit' class='btn full'>Create Account</button>
    </form>

    <p class='form-note'>
      Next step:
      <a href='/profile/interest-setup'>Set your interests</a>
    </p>
  </div>
</section>